{{define "custom-form"}}

    <div id="customForm">

        <editor-field name="description"></editor-field>

        <editor-field name="followed_by"></editor-field>

        <fieldset class="border p-2">
            <legend>القائم به</legend>
            <select class="form-control js-select2" multiple="multiple" id="selectedPeople">
                <option></option>
                {{range .users}}
                    <option value="{{.ID}}">{{.Name}}</option>
                {{end}}
            </select>

            <div id="czContainer">
                <div id="first">
                    <div class="recordset">
                        <div class="form-row m-3">
                            <div class="col">
                                <input type="hidden" name="id_1_repeat" id="id_1_repeat">
                                <input type="text" name="name_1_repeat" class="form-control" id="name_1_repeat"
                                       placeholder="الاسم" disabled>
                            </div>
                            <div class="col">
                                <input type="text" name="action_1_repeat" class="form-control" id="action_1_repeat"
                                       placeholder="الموقف" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

    </div>



    <script src="js/jquery.czMore-latest.js" charset="utf-8"></script>

{{end}}