{{ define "header" }}

    <!DOCTYPE html>
    <html lang="ar" dir="rtl">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="source-codes/css/bootstrap.rtl-select2-datepicker.min.css">

        <script src="source-codes/js/jquery-proper-bootstrap.rtl-select2-datepicker.min.js"></script>
        <script src="source-codes/js/datatables/datatables.min.js"></script>
        <script src="js/dataTables.editor.js"></script>
        <script src="js/editor.bootstrap4.min.js"></script>

        <link rel="stylesheet" href="source-codes/css/datatables/datatables.min.css">
        <link rel="stylesheet" href="css/editor.bootstrap4.min.css">
        <link rel="stylesheet" href="css/app.css">

        <title>{{ index . "title"}}</title>


    </head>
    <body>

    {{ if not .hideNavBar}}
        {{template "navbar". }}
    {{end}}

    {{template "flash-message".}}
    <div class="container">

{{end}}