{{define "index.html"}}

    {{template "header".}}

    <h1>التكاليف</h1>
    <table id="baseTable" class="table table-striped display" style="width:100%">
        <thead class="thead-dark">
        <tr>
            <th>التكليف</th>
            <th>القائم به</th>
            <th>المتابع</th>
            <th>الموقف</th>
            <th>التاريخ</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
        <tr>
            <th>التكليف</th>
            <th>القائم به</th>
            <th>المتابع</th>
            <th>الموقف</th>
            <th>التاريخ</th>
        </tr>
        </tfoot>
    </table>

    <script src="js/datatables.js"></script>

    {{template "footer".}}

{{end}}