{{define "login.html"}}

    {{template "header".}}

    <div class="row m-auto justify-content-center">
        <aside class="col-sm-6">
            <div class="card">
                <article class="card-body">
                    <h4 class="card-title mb-4 mt-1">تسجيل دخول</h4>
                    <form action="/login" method="post">
                        <div class="form-group">
                            <label for="username">اسم المستخدم</label>
                            <select class="form-control js-select2" id="username" name="username">
                                <option></option>
                                {{range .usernames}}
                                    <option value="{{.}}">{{.}}</option>
                                {{end}}
                            </select>
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <label for="password">كلمه السر</label>
                            <input name="password" class="form-control" id="password" placeholder="******"
                                   type="password">
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">دخول</button>
                            <div class="form-row mt-3">
                                <div class="col-6">
                                    <a href="/signup" class="btn btn-primary btn-block">مستخدم جديد</a>
                                </div>
                                <div class="col-6">
                                    <a href="/reset-password" class="btn btn-primary btn-block">نسيت\ تغيير كلمه
                                        السر</a>
                                </div>
                            </div>
                        </div> <!-- form-group// -->
                    </form>
                </article>
            </div> <!-- card.// -->

        </aside> <!-- col.// -->
    </div> <!-- row.// -->

    {{template "footer".}}

{{end}}