{{define "login.html"}}

    {{template "header".}}

    <div class="row m-auto justify-content-center">
        <aside class="col-sm-6">
            <div class="card">
                <article class="card-body">
                    <h4 class="card-title mb-4 mt-1">تسجيل دخول</h4>
                    <form action="/login" method="post">
                        <div class="form-group">
                            <label for="classification">التصنيف</label>
                            <select class="form-control" id="classification" name="classification">
                                <option value="1">الوزير</option>
                                <option value="2">متابع</option>
                                <option value="3">قائم به</option>
                            </select>
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <label for="username">اسم المستخدم</label>
                            <select class="form-control js-select2" id="username" name="username">
                                <option></option>
                                {{range .users}}
                                    <option value="{{.Username}}">{{.Username}}</option>
                                {{end}}
                            </select>
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <label for="password">كلمه السر</label>
                            <input name="password" class="form-control" id="password" placeholder="******"
                                   type="password">
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">دخول</button>
                            <div class="form-row mt-3">
                                <div class="col-6">
                                    <a href="/signup" class="btn btn-primary btn-block">مستخدم جديد</a>
                                </div>
                                <div class="col-6">
                                    <a href="/reset-password" class="btn btn-primary btn-block">نسيت\ تغيير كلمه
                                        السر</a>
                                </div>
                            </div>
                        </div> <!-- form-group// -->
                    </form>
                </article>
            </div> <!-- card.// -->

        </aside> <!-- col.// -->
    </div> <!-- row.// -->

    <script>
        let users = {{.users}}
            $(document).ready(function () {
                changeSelectElements();
                $("#classification").on('change', function () {
                    changeSelectElements();
                });
            });

        function changeSelectElements() {
            let $username = $('#username');
            $username.empty();
            let classificationValue = $('#classification').val();
            users.forEach(function (user) {
                if (user.classification.toString() === classificationValue)
                    $username.append(new Option(user.username, user.username, false, false))
            });
            $username.trigger('change.select2')
        }
    </script>

    {{template "footer".}}

{{end}}