{{define "login.html"}}

    {{template "header".}}

    <div class="row m-auto justify-content-center">
        <aside class="col-sm-6">
            <div class="card">
                <article class="card-body">
                    <h4 class="card-title mb-4 mt-1">تسجيل دخول</h4>
                    <form action="/login" method="post">
                        <div class="form-group">
                            <label for="username">اسم المستخدم</label>
                            <input name="username" class="form-control" id="username" placeholder="اسم المستخدم" type="text">
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <label for="password">كلمه السر</label>
                            <input name="password" class="form-control" id="password" placeholder="******" type="password">
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">دخول</button>
                        </div> <!-- form-group// -->
                    </form>
                </article>
            </div> <!-- card.// -->

        </aside> <!-- col.// -->
    </div> <!-- row.// -->

    {{template "footer".}}

{{end}}