{{ define "reset-password.html"}}


    {{template "header".}}
    <div class="row m-auto justify-content-center">
        <aside class="col-sm-6">
            <div class="card">
                <article class="card-body">
                    <h4 class="card-title mb-4 mt-1">تغيير كلمه السر</h4>
                    <form action="{{.formAction}}" method="post">
                        <div class="form-row">
                            <div class="col">
                                <label for="oldPassword">كلمه السر القديمه</label>
                                <input type="password" name="oldPassword" class="form-control" id="oldPassword"
                                       placeholder="كلمه السر">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label for="password">كلمه السر</label>
                                <input type="password" name="password" class="form-control" id="password"
                                       placeholder="كلمه السر">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label for="passwordVerify">تأكيد كلمه السر</label>
                                <input type="password" name="passwordVerify" class="form-control" id="passwordVerify"
                                       placeholder="تأكيد كلمه السر">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">تغيير كلمه السر</button>
                        <a href="/">رجوع</a>
                    </form>
                </article>
            </div> <!-- card.// -->

        </aside> <!-- col.// -->
    </div> <!-- row.// -->
    {{template "footer".}}
{{end}}