{{ define "search" }}
    <div class="btn-group float-right" roleValue="group" aria-label="Basic example">
        <a class="mr-3" id="resetSearch" href="">الغاء البحث</a>
        <button class="btn btn-secondary mr-3"
                data-toggle="collapse" data-target="#searchCollapse"
                aria-expanded="false" aria-controls="searchCollapse">بحث
        </button>
    </div>

    <div class="collapse" id="searchCollapse">
        <form id="searchForm">

            <div class="form-row">
                <div class="form-group col-6">
                    <label for="description">التكليف</label>
                    <input class="form-control search" id="description" placeholder="التكليف"/>
                </div>
                <div class="form-group col">
                    <label for="sent_to">القائم به</label>
                    <input type="text" class="form-control search" id="sent_to" placeholder="القائم به"/>
                </div>
                <div class="form-group col">
                    <label for="min">من</label>
                    <input type="text" class="form-control search datepicker" id="min" placeholder="من"/>
                </div>
                <div class="form-group col">
                    <label for="max">الى</label>
                    <input type="text" class="form-control search datepicker" id="max" placeholder="الى"/>
                </div>
            </div>

            <fieldset class="border p-2 d-inline">
                <div class="form-check form-check-inline">
                    <input class="form-check-input search" type="radio" name="retrieveValues" id="inlineRadio1"
                           {{if .admin}}value="all" {{else}}value="notRepliedByAll"{{end}}
                           checked>
                    <label class="form-check-label" for="inlineRadio1">
                        {{if .admin}}استرجاع الكل{{else}}لم يرد كل القائمين به{{end}}
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input search" type="radio" name="retrieveValues" id="inlineRadio3"
                           value="nonReplied">
                    <label class="form-check-label" for="inlineRadio3">استرجاع بدون اجراء نهائي</label>
                </div>
            </fieldset>

            <fieldset class="border p-2 d-inline ml-5">
                <legend style="font-size:16px; height:5px">
                    {{if .admin}}لهم اجراء النهائي{{else}}تكليفات من الوزير{{end}}
                </legend>

                <div class="form-check form-check-inline">
                    <input class="form-check-input search" type="radio" name="retrieveValues" id="inlineRadio4"
                           value="unseen">
                    <label class="form-check-label" for="inlineRadio4">استرجاع الجديد</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input search" type="radio" name="retrieveValues" id="inlineRadio5"
                           value="seen">
                    <label class="form-check-label" for="inlineRadio5">استرجاع القديم</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input search" type="radio" name="retrieveValues" id="inlineRadio2"
                           {{if .admin}}value="replied" {{else}}value="all"{{end}}>
                    <label class="form-check-label" for="inlineRadio2">الكل</label>
                </div>
            </fieldset>

        </form>
    </div>
{{end}}

