{{ define "signup.html"}}


    {{template "header".}}
    <div class="row m-auto justify-content-center">
        <aside class="col-sm-6">
            <div class="card">
                <article class="card-body">
                    <h4 class="card-title mb-4 mt-1">مستخدم جديد</h4>
                    <form action="{{.formAction}}" method="post">
                        <div class="form-group">
                            <label for="username">اسم المستخدم</label>
                            {{if .usernames}}
                                <select class="form-control js-select2" id="username" name="username">
                                    <option></option>
                                    {{range .usernames}}
                                        <option value="{{.}}">{{.}}</option>
                                    {{end}}
                                </select>
                            {{else}}
                                <input type="text" name="username" class="form-control" id="username"
                                       placeholder="اسم المستخدم">
                            {{end}}
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label for="password">كلمه السر</label>
                                <input type="password" name="password" class="form-control" id="password"
                                       placeholder="كلمه السر">
                            </div>
                            <div class="col">
                                <label for="passwordVerify">تأكيد كلمه السر</label>
                                <input type="password" name="passwordVerify" class="form-control" id="passwordVerify"
                                       placeholder="تأكيد كلمه السر">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="adminPassword">كلمه السر الخاصه بالوزير</label>
                            <input type="password" name="adminPassword" class="form-control" id="adminPassword"
                                   aria-describedby="adminPasswordHelp" placeholder="{{.adminPasswordPlaceholder}}">
                            <small id="adminPasswordHelp" class="form-text text-muted">
                                {{.adminPasswordHelp}}
                            </small>

                        </div>
                        <button type="submit" class="btn btn-primary">{{.buttonText}}</button>
                        <a href="/login">مسجل بالبرنامج ؟</a>
                    </form>
                </article>
            </div> <!-- card.// -->

        </aside> <!-- col.// -->
    </div> <!-- row.// -->


    {{template "footer".}}
{{end}}