{{ define "signup.html"}}


    {{template "header".}}
    <div class="row m-auto justify-content-center">
        <aside class="col-sm-6">
            <div class="card">
                <article class="card-body">
                    <h4 class="card-title mb-4 mt-1">مستخدم جديد</h4>
                    <form action="/signup" method="post">
                        <div class="form-group">
                            <label for="username">اسم المستخدم</label>
                            <input type="text" name="username" class="form-control" id="username"
                                   placeholder="اسم المستخدم">
                        </div>
                        <div class="form-group">
                            <label for="password">كلمه السر</label>
                            <input type="password" name="password" class="form-control" id="password"
                                   placeholder="كلمه السر">
                        </div>
                        <div class="form-group">
                            <label for="adminPassword">كلمه السر الخاصه</label>
                            <input type="password" name="adminPassword" class="form-control" id="adminPassword"
                                   aria-describedby="adminPasswordHelp" placeholder="كلمه السر الخاصه">
                            <small id="adminPasswordHelp" class="form-text text-muted">
                                هذا الحقل خاص بالمبرمج فقط, ولا يمكن ان تضيف مستخدم جديد الا بالرجوع اليه
                            </small>

                        </div>
                        <button type="submit" class="btn btn-primary">تسجيل مستخدم جديد</button>
                        <a href="/login">مسجل بالبرنامج ؟</a>
                    </form>
                </article>
            </div> <!-- card.// -->

        </aside> <!-- col.// -->
    </div> <!-- row.// -->


    {{template "footer".}}
{{end}}