{{ define "user-settings.html"}}
    {{template "header".}}
    <div class="row m-auto justify-content-center">
        <aside class="col-sm-6">
            <div class="card">
                <article class="card-body">
                    <h4 class="card-title mb-4 mt-1">بيانات المستخدم</h4>
                    <fieldset class="border p-2">
                        <legend style="font-size:16px; height:5px">
                            بيانات الهاتف المحمول
                        </legend>
                        <div class="form-inline mb-3">
                            <div class="form-group col-md-10">
                                <label for="disabled-phone-number" class="d-block">رقم الهاتف</label>
                                <input type="text" class="form-control col-10 d-inline"
                                       placeholder="رقم الهاتف" readonly disabled id="disabled-phone-number"
                                       value="{{.phoneNumber}}">
                                <button class="btn btn-secondary" data-toggle="modal" data-target="#phoneNumberModal">
                                    تغيير
                                </button>
                            </div>
                            <div class="form-check col-md-2">
                                <input type="checkbox" class="form-check-input" id="phone-notifications"
                                       {{if not .activatedPhoneNumber}}disabled{{end}}
                                        {{if .phoneNotifications}}checked{{end}}
                                       onclick="changeNotifications('phone')">
                                <label class="form-check-label" for="phone-notifications">استقبال الاشعارات</label>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="border p-2">
                        <legend style="font-size:16px; height:5px">
                            بيانات البريد الالكتروني
                        </legend>
                        <div class="form-inline mb-3">
                            <div class="form-group col-md-10">
                                <label for="disabled-email" class="d-block">البريد الالكتروني</label>
                                <input type="email" class="form-control col-10 d-inline"
                                       placeholder="البريد الالكتروني" readonly disabled
                                       id="disabled-email" value="{{.email}}">
                                <button class="btn btn-secondary" data-toggle="modal" data-target="#emailNumberModal">
                                    تغيير
                                </button>
                            </div>
                            <div class="form-check col-md-2">
                                <input type="checkbox" class="form-check-input" id="email-notifications"
                                       {{if not .activatedEmail}}disabled{{end}}
                                        {{if .emailNotifications}}checked{{end}}
                                       onclick="changeNotifications('email')">
                                <label class="form-check-label" for="email-notifications">استقبال الاشعارات</label>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group">
                        <a href="/" class="btn btn-secondary btn-block">رجوع</a>
                    </div> <!-- form-group// -->
                </article>
            </div>
        </aside>
    </div>


    <div class="modal fade" id="phoneNumberModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered custom-modal" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">تغيير رقم الهاتف</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label for="phone-number" class="d-block">رقم الهاتف</label>
                    <input type="text" name="phoneNumber" class="form-control col-9 d-inline"
                           placeholder="رقم الهاتف" id="phone-number" value="{{.phoneNumber}}">

                    <div class="invalid-feedback">
                        يجب ان يكون الرقم مكون من 11 رقم
                    </div>
                    <button type="submit" class="btn btn-primary" onclick="changePhoneNumber()">حفظ الرقم</button>
                    <div id="phone-feedback" class="flash"></div>

                    <div class="row-fluid col-xs-12 {{ if .hidePhoneVerification}}d-none{{end}}"
                         data-content="step_content" id="phone-verification"
                         data-url="/Verification/Confirm">

                        <fieldset data-ui-type="verification_confirm">
                            <div class="well well-large">تفعيل رقم الهاتف</div>

                            <div class="control-group form-group">

                                <label class="control-label col-sm-3 d-block" for="verification-code">كود
                                    التفعيل</label>
                                <div class="controls">
                                    <input class="form-control input-validation-error col-9 d-inline"
                                           id="verification-code"
                                           type="text" placeholder="الكود">
                                    <button class="btn btn-secondary" onclick="verifyCode()">تفعيل</button>
                                    <div class="flash" id="validation-feedback"></div>
                                    <div class="help-block  muted ">
                                        برجاء ادخال كود التفعيل
                                    </div>
                                    <div class="help-inline muted hideresendverification">
                                        <button type="submit" class="btn btn-danger" id="resend-verification-code"
                                                onclick="sendVerificationCode()">
                                            ارسال الكود مره اخري
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group form-group messagesentwarning">

                                <div class="controls col-sm-offset-3">
                                    <div class="alert alert-block alert-info">
                                        لقد تم ارسال كود التفعيل لو لم يصلك تأكد من رقمك او انتظر قليلا
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">رجوع</button>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="emailNumberModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered custom-modal" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">تغيير البريد الالكتروني</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label for="phone-number" class="d-block">البريد الالكتروني</label>
                    <input type="text" name="email" class="form-control col-9 d-inline"
                           placeholder="البريد الالكتروني" id="email" value="{{.email}}">

                    <button type="submit" class="btn btn-primary" onclick="changeEmail()">تغيير</button>
                    <div id="email-feedback" class="flash"></div>

                    <div class="help-inline muted hideresendverification {{if .hideEmailVerification}}d-none{{end}}">
                        <button type="submit" class="btn btn-danger" id="resend-verification-link"
                                onclick="sendVerificationLink()">
                            ارسال الكود مره اخري
                        </button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">رجوع</button>
                </div>

            </div>
        </div>
    </div>

    <script>
        function changePhoneNumber() {
            $.post("/change-phone-number", {
                phoneNumber: $('#phone-number').val()
            }, function (data) {
                $('#phone-feedback').addClass(data["status"]).text(data["message"]);
                if (data["status"] === "success") {
                    $('#phone-verification').removeClass("d-none");
                }
            })
        }

        function verifyCode() {
            $.post("/verify-phone-number", {
                verificationCode: $('#verification-code').val()
            }, function (data) {
                if (data["status"] === "success") {
                    location.reload();
                }
                $('#validation-feedback').addClass(data["status"]).text(data["message"]);
            })
        }

        function sendVerificationCode() {
            $.get("/send-verification-code", function (data) {
                $('#validation-feedback').addClass(data["status"]).text(data["message"]);
            })
        }

        function changeEmail() {
            $.post("/change-email", {
                email: $('#email').val()
            }, function (data) {
                if (data["status"] === "success") {
                    location.reload();
                }
                $('#email-feedback').addClass(data["status"]).text(data["message"]);
            })
        }

        function sendVerificationLink() {
            $.get("/send-verification-link", function (data) {
                if (data["status"] === "success") {
                    location.reload();
                }
                $('#email-feedback').addClass(data["status"]).text(data["message"]);
            })
        }

        function changeNotifications(type) {
            $.get("/change-notifications", {
                notifications: $('#' + type + '-notifications').is(":checked"),
                type: type
            }, function (data) {
                if (data["status"] === "reload") {
                    location.reload();
                }
            })
        }
    </script>
    {{template "footer".}}
{{end}}